# build output
dist
.output
.out
.next
build

# dependencies
node_modules
yarn-error.log
yarn.lock
npm-debug*

# logs
*.log
.env
# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store
.csslintrc

#editors
.idea
.vscode

*.pem
