# build output
dist
.output
.out
.next
lib
build

# dependencies
node_modules
yarn-error.log
package-lock.json
npm-debug*

# logs
*.log
.env 
# coverage
.nyc_output
coverage

# test output
test/**/out
.DS_Store
.csslintrc

#editors
.idea
